{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid" src="">
        </div>

        <div class="col-lg-6">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>

            <p>{{ product.price / 100 }} €</p>
            <p>Catégorie: {{ product.category.name }}</p>

            <a href="{{ path('product_edit', {id: product.id}) }}" class="btn btn-info">Modifier</a>
            <!-- Lien de suppression sans CSRF -->
            <a href="{{ path('product_delete', {id: product.id}) }}" class="btn btn-danger">Supprimer</a>

            <!-- Lien de suppression avec CSRF -->
            <form action="{{ path('product_delete', {id: product.id}) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token('delete-' ~ product.id) }}">
                <button class="btn btn-danger">Supprimer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
